<div id="nav" class="pure-u">
    <a class="nav-menu-button"><i class="fa fa-bars"></i></a>
    <a href="/dashboard" class="nav-menu-avatar">
        {% if user.profile.picture %}
        <img class="profile-avatar" src="{{ user.profile.picture }}" alt="user avatar"/>
        {% elseif isGravatar && gravatar %}
        <img class="profile-avatar" src="{{ gravatar }}" alt="user avatar"/>
        {% else %}
        <img class="profile-avatar" src="/img/avatar.jpg" alt="user avatar"/>
        {% endif %}
    </a>
    <div class="nav-profile">
        <p>4,356kB</p>
        <p>Free Account</p>
        <p><a class="pure-button secondary-button" href="/">Preference</a></p>
    </div>
    <div class="nav-inner">
        <div class="pure-menu pure-menu-open">
            <ul class="category-menu" data-id="{{ list.length }}">
                <li><a href="?t=note"><i class="fa fa-file-text-o"></i> Note <span class="item-count">2</span></a></li>
                <li><a href="?t=presentation"><i class="fa fa-laptop"></i> Presentation</a></li>
                <li><a href="#list"><i class="fa fa-tag"></i> Tags</a></li>
                <li><a href="#list"><i class="fa fa-trash"></i> Trash</a></li>
                <!--<li class="pure-menu-heading">Tags</li>-->
                <!--<li><a href="#"><span class="email-label-travel"></span>Travel</a></li>-->
            </ul>
        </div>
    </div>
    <div class="nav-footer">
        <div class="footer-head">
            <p>Haroo Cloud <i class="fa fa-caret-up"></i></p>
        </div>
        <div class="footer-content">
            <p><a href="#">DOCUMENT Status</a></p>
            <p><a href="#">CLOUD Status</a></p>
            <p><a href="/">Go Home</a></p>
        </div>
    </div>
</div>
