<div id="nav" class="pure-u">
    <a href="#" class="nav-menu-button"><i class="fa fa-bars"></i></a>
    <a href="/dashboard" class="nav-menu-avatar">
        {% if gravatar %}
        <img class="profile-avatar" src="{{ gravatar }}" alt="user avatar"/>
        {% else %}
        <img class="profile-avatar" src="/img/avatar.jpg" alt="user avatar"/>
        {% endif %}
    </a>
    <div class="nav-inner">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li><a href="#"><i class="fa fa-file-text-o"></i> Note <span class="item-count">2</span></a></li>
                <li><a href="#"><i class="fa fa-laptop"></i> Presentation</a></li>
                <li><a href="#"><i class="fa fa-tag"></i> Tags</a></li>
                <li><a href="#"><i class="fa fa-trash"></i> Trash</a></li>
                <!--<li class="pure-menu-heading">Tags</li>-->
                <!--<li><a href="#"><span class="email-label-travel"></span>Travel</a></li>-->
            </ul>
        </div>
    </div>
</div>
