<div id="flash" class="pure-g position-holder">
    {%- if messages.errors -%}
    <div class="pure-u-1 alert">
        {% for error in messages.errors -%}
        <p>{{ error.msg }}</p>
        {%- endfor %}
    </div>
    {%- endif -%}
    {%- if messages.info -%}
    <div class="pure-u-1 alert">
        {% for info in messages.info -%}
        <p>{{ info.msg }}</p>
        {%- endfor %}
    </div>
    {%- endif -%}
    {%- if messages.success -%}
    <div class="pure-u-1 alert">
        {% for success in messages.success -%}
        <p>{{ success.msg }}</p>
        {%- endfor %}
    </div>
    {%- endif -%}
</div>
