<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>{{ site.title }}</title>
    <link href="/components/pure/pure-min.css" rel="stylesheet">
    <link href="/components/pure/grids-responsive-min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>
<body>
<div id="layout" class="content pure-g">
    {% include 'partials/dashboard_sidemenu.html' %}
    <div id="main" class="pure-u-1" data-id="{{ _csrf }}">
        {% for item in list %}
        {% include 'partials/dashboard_view.html' with item %}
        {% endfor %}
    </div>
    <div id="list" class="pure-u-1">
        {% include 'partials/flash-message.html' %}

        {% for item in list %}
        {% set type = item.value['type'] || 'note' %}
        <div class="haroonote-item pure-g haroonote-item-{{ type }}" data-id="{{ loop.index }}">
            <div class="pure-u-1">
                {% if item.value['tags'].length %}
                <h5 class="haroonote-item-tags">{{ item.value['tags'] }}</h5>
                {% endif %}
                <h4 class="haroonote-subject">{{ item.value['title'] }}</h4>
                <p class="haroonote-desc">
                </p>
                <p class="haroonote-meta">
                    {{- item.value.updated_at|date('Y-m-d') || item.value.created_at|date('Y-m-d') -}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/haroopad-keymage/keymage.min.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>
