<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>{{ site.title }}</title>
    <link href="/components/pure/pure-min.css" rel="stylesheet">
    <link href="/components/pure/grids-responsive-min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>
<body>
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a class="nav-menu-button"><i class="fa fa-bars"></i></a>
        <a href="/dashboard" class="nav-menu-avatar">
            {% if user.profile.picture %}
            <img class="profile-avatar" src="{{ user.profile.picture }}" alt="user avatar"/>
            {% elseif isGravatar && gravatar %}
            <img class="profile-avatar" src="{{ gravatar }}" alt="user avatar"/>
            {% else %}
            <img class="profile-avatar" src="/img/avatar.jpg" alt="user avatar"/>
            {% endif %}
        </a>
        <div class="nav-profile">
            <p>4,356kB</p>
            <p>Free Account</p>
            <p><button class="pure-button secondary-button preference-button">Preference</button></p>
        </div>
        <div class="nav-inner">
            <div class="pure-menu pure-menu-open">
                <ul class="category-menu" data-id="{{ list.length }}">
                    <li><a href="?t=note"><i class="fa fa-file-text-o"></i> Note <!--<span class="item-count">245</span>--></a></li>
                    <li><a href="?t=presentation"><i class="fa fa-laptop"></i> Presentation <!--<span class="item-count">23</span>--></a></li>
                    <li><a href="#list"><i class="fa fa-tag"></i> Tags</a></li>
                    <li><a href="#list"><i class="fa fa-trash"></i> Trash</a></li>
                    <!--<li class="pure-menu-heading">Tags</li>-->
                    <!--<li><a href="#"><span class="email-label-travel"></span>Travel</a></li>-->
                </ul>
            </div>
        </div>
        <div class="nav-footer">
            <div class="footer-head">
                <p>Haroo Cloud <i class="fa fa-caret-up"></i></p>
            </div>
            <div class="footer-content">
                <p><a href="/stat/document">DOCUMENT Status</a></p>
                <p><a href="/stat/system">CLOUD Status</a></p>
                <p><a href="/">Go Home</a></p>
            </div>
        </div>
    </div>
    <div id="main" class="pure-u-1" data-id="{{ _csrf }}">
        {% if list.length %}
        {% for item in list %}
        {% include 'partials/dashboard_view.html' with item %}
        {% endfor %}
        {% else %}
        <div class="haroonote-content-no-data">
            <div class="haroonote-content-header pure-g">
                <div class="pure-u-1">
                    <h2>No data exist</h2>
                    <p>Please use haroonote for your content creation</p>
                    <a href="/download" class="pure-button secondary-button pure-button-active">Download</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="list" class="pure-u-1">
        <div class="pure-g position-holder">
            <div class="pure-u-1 go-premium">
                <div class="close-icon"><i class="fa fa-close"></i></div>
                <p>
                    Advertise
                </p>
                <p>
                    <a class="pure-button pure-button-primary" href="/">Go Premium</a>
                </p>
            </div>
        </div>
        {% include 'partials/flash-message.html' %}

        {% for item in list %}
        {% set type = item.doc['type'] || 'note' %}
        <div class="haroonote-item pure-g haroonote-item-{{ type }}" data-id="{{ loop.index }}">
            <div class="pure-u-1">
                {% if item.doc['tags'].length %}
                <h5 class="haroonote-item-tags">{{ item.doc['tags'] }}</h5>
                {% endif %}
                <h4 class="haroonote-subject">{{ item.doc['title'] }}</h4>
                <p class="haroonote-desc">
                </p>
                <p class="haroonote-meta">
                    {{- item.doc.updated_at|date('Y-m-d') || item.doc.created_at|date('Y-m-d') -}}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'preference.html' %}
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/jquery-cookie/jquery.cookie.js"></script>
<script src="/components/haroopad-keymage/keymage.min.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>
