<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>{{ site.title }}</title>
    <link href="/components/pure/pure-min.css" rel="stylesheet">
    <link href="/components/pure/grids-responsive-min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
</head>
<body class="public-content-wrapper">
<div id="content-wrapper" class="pure-g">
    <div class="pure-u-1 public-content">
        <div class="public-content-body">
            {{ doc['html'] | safe }}
        </div>
    </div>
    <div class="pure-u-1 public-content-toc">
        {{ doc['toc'].html | safe }}
    </div>

</div>

<!-- End Page Wrapper -->
</body>
</html>
