<!--todo: modal popup -->

    <div id="preference" class="pure-u-1">
        <div class="hero">
            <div class="hero-titles">
                <h2 class="hero-tagline">HarooCloud, World Best Markdown Integration Platform</h2>
            </div>
        </div>
        {% include 'partials/flash-message.html' %}
        <div class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <span>Username</span>
            </div>

        </div>

        <div class="size-chart pure-g">

            <div class="size-chart-note pure-u" style="width: 20.9007%;">
                <a class="size-chart-item" href="/base/">
                <span class="size-chart-label">
                    <span class="size-chart-mod">base</span>
                    <span class="size-chart-size">1.2KB</span>
                </span>
                </a>
            </div>

            <div class="size-chart-todo pure-u" style="width: 13.7083%;">
                <a class="size-chart-item" href="/grids/">
                <span class="size-chart-label">
                    <span class="size-chart-mod">grids</span>
                    <span class="size-chart-size">0.8KB</span>
                </span>
                </a>
            </div>

            <div class="size-chart-presentation pure-u" style="width: 24.1669%;">
                <a class="size-chart-item" href="/forms/">
                <span class="size-chart-label">
                    <span class="size-chart-mod">forms</span>
                    <span class="size-chart-size">1.4KB</span>
                </span>
                </a>
            </div>

            <div class="size-chart-mail pure-u" style="width: 13.1805%;">
                <a class="size-chart-item" href="/buttons/">
                <span class="size-chart-label">
                    <span class="size-chart-mod">buttons</span>
                    <span class="size-chart-size">0.8KB</span>
                </span>
                </a>
            </div>

            <div class="size-chart-tags pure-u" style="width: 8.1821%;">
                <a class="size-chart-item" href="/tables/">
                <span class="size-chart-label">
                    <span class="size-chart-mod">tables</span>
                    <span class="size-chart-size">0.5KB</span>
                </span>
                </a>
            </div>

            <div class="size-chart-trash pure-u" style="width: 19.8614%;">
                <a class="size-chart-item" href="/menus/">
                <span class="size-chart-label">
                    <span class="size-chart-mod">menus</span>
                    <span class="size-chart-size">1.2KB</span>
                </span>
                </a>
            </div>

        </div>


        <form class="pure-form pure-form-aligned">
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">Nickname</label>
                    <input id="name" type="text" placeholder="Username">
                </div>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" placeholder="Password">
                </div>
                <div class="pure-controls">
                    <button type="submit" class="pure-button pure-button-primary">Submit</button>
                </div>
            </fieldset>
        </form>

    </div>

