<div id="preference">
    <div class="panel">
        <div class="hero">
            <div class="hero-titles">
                <h2>Preference</h2>
            </div>
        </div>
        <div class="pure-form pure-form-aligned">
            <div class="account-info">
                <p class="email"><span class="label">Account</span> {{ user.email }}</p>
                <div class="external-auth">
                    <!--
                    <div class="unlink">
                        <a href="/account/unlink/github" class="pure-button pure-u-2-3">Unlink for <i class="fa fa-github"></i> Github</a>
                    </div>
                    <div class="unlink">
                        <a href="/account/unlink/facebook" class="pure-button pure-u-2-3">Unlink for <i class="fa fa-facebook"></i> Facebook</a>
                    </div>
                    <div class="unlink">
                        <a href="/account/unlink/google" class="pure-button pure-u-2-3">Unlink for <i class="fa fa-google"></i> Google</a>
                    </div>
                    <div class="unlink">
                        <a href="/account/unlink/twitter" class="pure-button pure-u-2-3">Unlink for <i class="fa fa-twitter"></i> Twitter</a>
                    </div>
                    -->{% for item in user.tokens -%}
                    <div class="unlink">
                        <a class="pure-button pure-u-2-3" href="/account/unlink/{{ item.kind }}">Unlink for <i class="fa fa-{{ item.kind|lower }}"></i> {{ item.kind|upper }}</a>
                    </div>
                    {%- endfor %}
                </div>
                <p class="registered"><span class="label">Registered At</span> {{ user.created_at|date('Y-m-d') }}</p>
                <p class="subscription"><span class="label">Subscribe Type</span> Free Account <span class="quota">{{ '4,483' + 'kB' }} / {{ '5,000' + 'kB' }}</span></p>
            </div>
        </div>

        <div class="size-chart pure-g">
            <div class="size-chart-note pure-u" style="width: 23%;">
                <a class="size-chart-item" href="/dashboard?t=note">
                    <span class="size-chart-label"><span class="size-chart-mod">Note</span> <span class="size-chart-size">1.2MB</span></span>
                </a>
            </div>

            <div class="size-chart-todo pure-u" style="width: 13%;">
                <a class="size-chart-item" href="/dashboard?t=note">
                    <span class="size-chart-label"><span class="size-chart-mod">Presentation</span> <span class="size-chart-size">0.8MB</span></span>
                </a>
            </div>

            <div class="size-chart-presentation pure-u" style="width: 24%;">
                <a class="size-chart-item" href="/dashboard?t=image">
                    <span class="size-chart-label"><span class="size-chart-mod">Image</span> <span class="size-chart-size">1.4MB</span></span>
                </a>
            </div>

            <div class="size-chart-mail pure-u" style="width: 13%;">
                <a class="size-chart-item" href="/dashboard?t=mail">
                    <span class="size-chart-label"><span class="size-chart-mod">Mail</span> <span class="size-chart-size">0.8MB</span></span>
                </a>
            </div>

            <div class="size-chart-tags pure-u" style="width: 8%;">
                <a class="size-chart-item" href="/dashboard?t=tag">
                    <span class="size-chart-label"><span class="size-chart-mod">Tag</span> <span class="size-chart-size">0.5MB</span></span>
                </a>
            </div>

            <div class="size-chart-trash pure-u" style="width: 19%;">
                <a class="size-chart-item" href="/dashboard?t=trash">
                    <span class="size-chart-label"><span class="size-chart-mod">Trash</span> <span class="size-chart-size">1.2MB</span></span>
                </a>
            </div>
        </div>

        <div class="hero">
            <h4>Update Account Profile</h4>
        </div>
        <div class="pure-form pure-form-aligned">
            <div class="account-update">
                <p class="nickname"><span class="label">Nickname</span>
                    <input id="name" type="text" placeholder="Screen name" maxlength="50" value="{{ user.profile.nickname }}">
                </p>
                <p class="password"><span class="label">Password</span>
                    <input id="password" type="password" placeholder="Password" maxlength="50">
                </p>
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Update</button>
            </div>
        </div>
    </div>
</div>

