<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>Stat - Document - {{ site.title }}</title>
    <link href="/components/pure/pure-min.css" rel="stylesheet">
    <link href="/components/pure/grids-responsive-min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/components/metrics-graphics/css/metricsgraphics.css" rel="stylesheet">
    <link href="/css/haroo-cloud.css" rel="stylesheet">
</head>
<body>
<div class="page-wrap">
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed top-menu">
        <div class="top-menu-alternative">
            <a href="/" class="top-menu-heading go-home">Home</a>
        </div>
    </div>
    <div class="alternative-content">
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="header" id="token" data-id="{{ _csrf }}">
                    <h1>Document Status</h1>
                    <h2>Start your comfortable document life</h2>
                </div>
                <div class="content">
                    <h2 class="content-subhead">Document Status</h2>
                    <p>
                        daily counted
                    </p>
                </div>
                <div class="graph-full" id="documents">

                </div>
                <div class="content">
                    <h2 class="content-subhead">Public Document Increment</h2>
                    <p>
                        daily counted
                    </p>
                </div>
                <div class="graph-full" id="public_documents_status">

                </div>
                <div class="content">
                    <h2 class="content-subhead">Attached File Size</h2>
                    <p>
                        daily counted
                    </p>
                </div>
                <div class="graph-full" id="attached_file_size">

                </div>
            </div>
        </div>
    </div>
    {% include '../partials/footer.html' %}
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/d3/d3.min.js"></script>
<script src="/components/metrics-graphics/js/metricsgraphics.min.js"></script>
<!--<script src="/js/stat.js"></script>-->
<script>
    $(document).ready(function () {
        var $documents = $('#documents');
        var graph_width = $documents.width();
        var token = $('#token').data('id');
        $.post('/stat/document', {_csrf: token}, function (result) {
            var documents = result.documents;
            var public_documents_status = result.public_documents_status;
            var attached_file_size = result.attached_file_size;
            data_graphic({
                data: documents,
                width: graph_width,
                height: 250,
                target: '#documents',
                markers: [{'date': 10, 'label': '"open beta" released.'}, {'date': 46, 'label': '"closed beta" released.'}],
                x_accessor: "date",
                y_accessor: "sightings"
            });
            data_graphic({
                data: public_documents_status,
                width: graph_width,
                height: 250,
                target: '#public_documents_status',
                markers: [{'date': 14, 'label': '"open beta" released.'}, {'date': 19, 'label': '"closed beta" released.'}],
                show_years: false,
                x_accessor: "date",
                y_accessor: "count"
            });
            data_graphic({
                data: attached_file_size,
                width: graph_width,
                height: 250,
                target: '#attached_file_size',
                markers: [{'date': 5, 'label': '"open beta" released.'}, {'date': 14, 'label': '"closed beta" released.'}],
                x_accessor: "date",
                y_accessor: "count"
            });
        });
    });
</script>
</body>
</html>