<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>Stat - Document - {{ site.title }}</title>
    <link href="/components/pure/pure-min.css" rel="stylesheet">
    <link href="/components/pure/grids-responsive-min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/haroo-cloud.css" rel="stylesheet">
</head>
<body>
<div class="page-wrap">
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed top-menu">
        <div class="top-menu-alternative">
            <a href="/" class="top-menu-heading go-home">Home</a>
        </div>
        <ul>
            <li class="">
                <a href="/stat/system">System Status</a>
            </li>
        </ul>
    </div>
    <div class="alternative-content">
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="header" id="token" data-id="{{ _csrf }}">
                    <h1>Document Status</h1>
                    <h2>Start your comfortable document life</h2>
                </div>
                <div class="content">
                    <h2 class="content-subhead">Document Status</h2>
                    <p>
                        some explain here
                    </p>
                </div>
                <div class="graph-full" id="documents">
                    <div class="chart">
                        <canvas height="75"></canvas>
                    </div>
                </div>
                <div class="content">
                    <h2 class="content-subhead">Public Document Status</h2>
                    <p>
                        some explain here
                    </p>
                </div>
                <div class="graph-full" id="publicDocs">
                    <div class="chart">
                        <canvas height="75"></canvas>
                    </div>
                </div>
                <div class="content">
                    <h2 class="content-subhead">Attached File Size</h2>
                    <p>
                        some explain here
                    </p>
                </div>
                <div class="graph-full" id="files">
                    <div class="chart">
                        <canvas height="75"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '../partials/footer.html' %}
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/Chart.js/Chart.min.js"></script>
<!--<script src="/js/stat.js"></script>-->
<script>
    $(document).ready(function () {
        Chart.defaults.global.responsive = true;
        Chart.defaults.global.scaleStartValue = 0;
        var token = $('#token').data('id');

        $.post('/stat/document', {_csrf: token}, function (result) {
            var documentsData = {
                labels: result.documents.label,
                datasets: [
                    {
                        label: "System Load",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: result.documents.value
                    }
                ]
            };
            var documents = $("#documents").children('.chart').children('canvas').get(0).getContext("2d");
            new Chart(documents).Line(documentsData);

            var publicDocsData = {
                labels: result.publicDocs.label,
                datasets: [
                    {
                        label: "Network Traffic",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: result.publicDocs.value
                    }
                ]
            };
            var publicDocs = $("#publicDocs").children('.chart').children('canvas').get(0).getContext("2d");
            new Chart(publicDocs).Line(publicDocsData);

            var filesData = {
                labels: result.files.label,
                datasets: [
                    {
                        label: "Database Storage",
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: result.files.value
                    }
                ]
            };
            var files = $("#files").children('.chart').children('canvas').get(0).getContext("2d");
            new Chart(files).Line(filesData);
        });
    });
</script>
</body>
</html>