<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://pad.haroopress.com/assets/haroopad.ico">
    <title>Stat - System - {{ site.title }}</title>
    <link href="/components/pure/pure-min.css" rel="stylesheet">
    <link href="/components/pure/grids-responsive-min.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/haroo-cloud.css" rel="stylesheet">
</head>
<body>
<div class="page-wrap">
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed top-menu">
        <div class="top-menu-alternative">
            <a href="/" class="top-menu-heading go-home">Home</a>
        </div>
    </div>
    <div class="alternative-content">
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="header">
                    <h1>System Status</h1>
                    <h2>Start your comfortable document life</h2>
                </div>
                <div class="content">
                    <h2 class="content-subhead">Server Power Status</h2>
                    <p>
                        daily counted
                    </p>
                </div>
                <div class="graph-full">

                </div>
                <div class="content">
                    <h2 class="content-subhead">Cloud Traffic Status</h2>
                    <p>
                        daily counted
                    </p>
                </div>
                <div class="graph-full">

                </div>
                <div class="content">
                    <h2 class="content-subhead">Document Storage Status</h2>
                    <p>
                        daily counted
                    </p>
                </div>
                <div class="graph-full">

                </div>
            </div>
        </div>
    </div>
    {% include '../partials/footer.html' %}
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>