body {
  color: #515357;
}
a {
  text-decoration: none;
  color: #7f8c8d;
}
/*
 * DEFAULT (MOBILE) LAYOUT
 */
#layout,
#nav,
#list,
#main,
#content-wrapper {
  background: #ffffff;
  margin: 0;
  padding: 0;
}
.position-holder {
  display: none;
  position: relative;
}
/* Nav Style */
#nav {
  width: 100%;
  height: 40px;
  position: relative;
  background: #e6e6e6;
  text-align: center;
}
#nav .nav-menu-button {
  display: block;
  top: 0.5em;
  right: 0.5em;
  position: absolute;
  text-transform: uppercase;
}
#nav .nav-menu-button i {
  padding: 4px 4px 2px 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
}
#nav .nav-menu-avatar {
  display: block;
  top: 0.5em;
  left: 0.54em;
  position: absolute;
}
#nav .nav-menu-avatar img {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #252519;
}
#nav .nav-profile {
  display: none;
  padding: 1em;
  font-size: 0.8em;
}
#nav .nav-profile p {
  margin: 4px;
}
#nav .nav-inner {
  display: none;
}
#nav .item-count {
  padding: 3px 4px;
  background: #d0d0d0;
  border-radius: 4px;
  font-size: 0.85em;
  color: #2e7ebf;
}
#nav .nav-footer {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fcfcfc;
  background: #1f1d1d;
  border-top: solid 2px #343131;
  font-size: 0.8em;
}
#nav .nav-footer .footer-head {
  cursor: pointer;
  padding: 0.2em;
  background: #353232;
  font-size: 0.8em;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#nav .nav-footer .footer-head p {
  margin: 5px;
}
#nav .nav-footer .footer-head i {
  margin-left: 0.1em;
}
#nav .nav-footer .footer-content {
  display: none;
}
#nav.active {
  height: 80%;
}
#nav.active .nav-inner {
  display: block;
  padding: 3em 0 1em;
}
#nav.active .nav-menu-button i {
  background: #c8c8c8;
}
#nav .pure-menu.pure-menu-open {
  background: transparent;
  border: none;
  text-align: left;
}
#nav .pure-menu.pure-menu-open i {
  text-align: center;
  width: 1.1em;
}
#nav .pure-menu.pure-menu-open li a {
  padding-left: 5px;
}
#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
  background: #f1f1f1;
}
#nav .pure-menu a {
  color: #464646;
  margin-left: 0.5em;
}
#nav .pure-menu-heading {
  border-bottom: none;
  font-size: 0.9em;
  color: #4b7197;
}
/* List Style */
.haroonote-item {
  padding: 0.9em 1em;
  border-left: 5px solid transparent;
  outline: 1px solid #dddddd;
}
.haroonote-item .haroonote-item-tags {
  font-size: 0.8em;
  font-weight: lighter;
  margin: 0 0 0.5em;
  color: #999;
}
.haroonote-item .haroonote-subject {
  margin: 0;
}
.haroonote-item .haroonote-desc {
  font-size: 80%;
  margin: 0.4em 0;
}
.haroonote-item .haroonote-meta {
  text-align: right;
  font-size: 70%;
  margin: 0;
}
.haroonote-item-selected {
  background: #eee;
}
.haroonote-item-presentation {
  border-left: 5px solid #1b98f8;
}
.haroonote-item-note {
  border-left: 5px solid #28ce6c;
}
/* Content Styles */
.haroonote-content {
  display: none;
}
.haroonote-content img {
  max-width: 100%;
}
.haroonote-content-header,
.haroonote-content-body,
.email-content-footer {
  padding: 1em 1em;
}
.haroonote-content-header {
  border-bottom: 1px solid #ddd;
}
.haroonote-content-title {
  margin: 0.5em 0 0;
}
.haroonote-content-subtitle,
.haroonote-content-date,
.haroonote-content-tag {
  font-size: 0.8em;
  margin: 0;
  font-weight: normal;
}
.haroonote-content-date {
  margin-bottom: 0.2em;
}
.haroonote-content-date i:first-child {
  margin-right: 1em;
}
.haroonote-content-tag a:hover {
  color: #4094fe;
  font-weight: bold;
}
.haroonote-content-tag a {
  padding: 0 1px;
  color: #2e7ecb;
}
.haroonote-content-controls {
  text-align: right;
}
.haroonote-content-controls .important {
  display: none;
}
.haroonote-content-controls .download {
  display: none;
}
.haroonote-content-controls .secondary-button {
  margin: 0.2em 0;
}
.haroonote-content-toc {
  display: none;
}
.secondary-button {
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
  padding: 0.4em 1.4em;
}
.alert {
  width: 100%;
  background: #E8EAD4;
  border-top: 1px solid #b1b2bf;
  border-bottom: 1px solid #b1b2bf;
}
.alert p {
  text-align: center;
  color: #591818;
}
/* Public Content */
.public-content-wrapper {
  background: #ebebeb;
}
.public-content {
  margin: 0 1.5em;
}
.public-content .public-content-body {
  margin: 1em auto;
  max-width: 720px;
}
.public-content .public-content-body .public-content-date {
  margin-bottom: 0.2em;
}
.public-content .public-content-body .public-content-date i {
  margin-right: 1em;
}
.public-content-toc {
  overflow: auto;
  font-size: 0.9em;
  background: #fafafa;
  position: static;
  width: 100%;
  max-height: 94%;
  border: 1px solid #b1b2bf;
  margin: 1em;
  padding-left: 10px;
}
.public-content-toc ul {
  padding-left: 30px;
}
.public-content-toc ul li {
  margin-left: -10px;
}
.public-content-toc .close-icon {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
.go-premium {
  width: 100%;
  margin: auto;
}
.go-premium p {
  text-align: center;
}
.go-premium .close-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
/* Preference */
#preference {
  position: fixed;
  top: 0;
  left: 150px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  border-left: 1px solid #bdbdbd;
  display: none;
}
#preference .panel {
  position: absolute;
  width: 28em;
  max-height: 42em;
  height: 90%;
  top: 32px;
  left: 0;
  overflow: auto;
  background: #FFFFFF;
  border-top: 1px solid #909090;
  border-right: 1px solid #909090;
  border-bottom: 1px solid #909090;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding-bottom: 1em;
}
#preference .pure-form-aligned {
  padding: 1em 1.8em 0;
}
#preference .pure-form-aligned .label {
  display: inline-block;
  width: 8em;
  background: #008080;
  font-size: 0.8em;
  color: #FFFFFF;
  padding: 4px 6px 4px 3px;
  margin-right: 0.5em;
  text-align: right;
}
#preference .pure-form-aligned .blank {
  padding: 0 4px;
}
#preference .pure-form-aligned .account-info .quota {
  font-size: 0.8em;
  color: #757575;
  margin-left: 0.5em;
}
#preference .pure-form-aligned .account-info .unlink {
  font-size: 0.8em;
  margin: 0.5em 0.5em 0.5em 9.4em;
}
#preference .pure-form-aligned .account-info .unlink a {
  text-align: left;
}
#preference .pure-form-aligned .pure-controls {
  margin-left: 7.65em;
  margin-bottom: 1.5em;
}
#preference .pure-form-aligned .pure-controls button {
  font-size: 0.9em;
  padding: 6px 10px;
}
#preference .hero {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
#preference .hero .hero-title {
  padding: 0 2em;
  margin: 2em auto;
  max-width: 768px;
}
#preference .token-list {
  width: 100%;
  font-size: 0.8em;
}
#preference .size-chart {
  width: 100%;
  font-size: 9px;
  line-height: 1.4;
  margin-bottom: 2em;
}
#preference .size-chart .size-chart-note {
  background: #1f8dd6;
}
#preference .size-chart .size-chart-todo {
  background: #8058a5;
}
#preference .size-chart .size-chart-presentation {
  background: #5eb95e;
}
#preference .size-chart .size-chart-mail {
  background: #dd514c;
}
#preference .size-chart .size-chart-tags {
  background: #f37b1d;
}
#preference .size-chart .size-chart-trash {
  background: #fad232;
}
#preference .size-chart .size-chart-item {
  display: block;
  color: #fff;
  padding: 1.45em 0;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
#preference .size-chart .size-chart-item .size-chart-label {
  display: inline-block;
}
#preference .size-chart .size-chart-item .size-chart-size {
  color: #eee;
}
/*
 * TABLET (AND UP) MEDIA QUERIES
 */
@media (min-width: 40em) {
  .position-holder {
    display: block;
  }
  #layout {
    padding-left: 150px;
    position: relative;
  }
  #nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin-left: -150px;
    width: 150px;
    height: 100%;
  }
  #nav .nav-profile {
    display: block;
  }
  #nav .nav-inner {
    display: block;
    padding: 2em 0;
  }
  #nav .nav-menu-avatar {
    display: block;
    position: static;
    margin-top: 2em;
  }
  #nav .nav-menu-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
  }
  #nav .nav-menu-button {
    display: none;
  }
  #nav .nav-footer {
    display: block;
  }
  .haroonote-content-header,
  .haroonote-content-body,
  .email-content-footer {
    padding: 1em 1.5em;
  }
  .haroonote-content-controls {
    text-align: right;
    font-size: 0.8em;
  }
  .haroonote-content-controls .important {
    display: inline;
  }
  .haroonote-content-controls .download {
    display: inline;
  }
  #content-wrapper {
    margin: 0 1em;
  }
  .public-content-toc {
    position: absolute;
    right: 0;
    top: 0;
    width: 15em;
    margin-right: 2em;
  }
  .public-content-toc .close-icon {
    display: block;
  }
}
/*
 * DESKTOP (AND UP) MEDIA QUERIES
 */
@media (min-width: 60em) {
  #layout {
    padding-left: 500px;
    position: relative;
  }
  #nav,
  #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #nav {
    margin-left: -500px;
    width: 150px;
    height: 100%;
  }
  #list {
    left: 150px;
    width: 350px;
    height: 100%;
    border-right: 1px solid #ddd;
  }
  #main {
    position: static;
    margin: 0;
    padding: 0;
  }
  #content-wrapper {
    margin: 0 2em;
  }
  .public-content-toc {
    position: fixed;
    right: 0;
    top: 1em;
    width: 20em;
    margin-right: 4em;
  }
}
