/*
 * TABLET (AND UP) MEDIA QUERIES
 */
@media (min-width: 40em) {
  .position-holder {
    display: block;
  }
  #layout {
    padding-left: 150px;
    position: relative;
  }
  #nav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin-left: -150px;
    width: 150px;
    height: 100%;
  }
  #nav .nav-profile {
    display: block;
  }
  #nav .nav-inner {
    display: block;
    padding: 2em 0;
  }
  #nav .nav-menu-avatar {
    display: block;
    position: static;
    margin-top: 30px;
  }
  #nav .nav-menu-avatar a.avatar-holder {
    margin: 0 auto;
    display: block;
    width: 80px;
    height: 80px;
  }
  #nav .nav-menu-avatar img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
  }
  #nav .nav-menu-button {
    display: none;
  }
  #nav .nav-footer {
    display: block;
  }
  .haroonote-content-header,
  .haroonote-content-body,
  .email-content-footer {
    padding: 1em 1.5em;
  }
  .haroonote-content-controls {
    text-align: right;
    font-size: 0.8em;
  }
  .haroonote-content-controls .important {
    display: inline;
  }
  .haroonote-content-controls .download {
    display: inline;
  }
  #content-wrapper {
    margin: 0 1em;
  }
  .public-content-toc {
    position: absolute;
    right: 0;
    top: 0;
    width: 15em;
    margin-right: 2em;
  }
  .public-content-toc .close-icon {
    display: block;
  }
}
