body {
  color: #515357;
}

a {
  text-decoration: none;
  color: #7f8c8d;
}

/*
 * DEFAULT (MOBILE) LAYOUT
 */

#layout, #nav, #list, #main, #content-wrapper {
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.position-holder {
  display: none;
  position: relative;
}

/* Nav Style */
#nav {
  width: 100%;
  height: 40px;
  position: relative;
  background: #e6e6e6;
  text-align: center;
  .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
    text-transform: uppercase;
    i {
      padding: 4px 4px 2px 4px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-radius: 3px;
    }
  }
  .nav-menu-avatar {
    display: block;
    top: 0.5em;
    left: 0.54em;
    position: absolute;
    img {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: #252519;
    }
  }
  .nav-profile {
    display: none;
    padding: 1em;
    font-size: 0.8em;
    p {
      margin: 4px;
    }
  }
  .nav-inner {
    display: none;
  }
  .item-count {
    padding: 3px 4px;
    background: #d0d0d0;
    border-radius: 4px;
    font-size: 0.85em;
    color: #2e7ebf;
  }
  .nav-footer {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fcfcfc;
    background: #1f1d1d;
    border-top: solid 2px #343131;
    font-size: 0.8em;
    .footer-head {
      cursor: pointer;
      padding: 0.2em;
      background: #353232;
      font-size: 0.8em;
      letter-spacing: 3px;
      text-transform: uppercase;
      p {
        margin: 5px;
      }
      i {
        margin-left: 0.1em;
      }
    }
    .footer-content {
      display: none;
    }
  }
}

#nav.active {
  height: 80%;
  .nav-inner {
    display: block;
    padding: 3em 0 1em;
  }
  .nav-menu-button {
    i {
      background: #c8c8c8;
    }
  }
}

#nav .pure-menu.pure-menu-open {
  background: transparent;
  border: none;
  text-align: left;
  i {
    text-align: center;
    width: 1.1em;
  }
  li {
    a {
      padding-left: 5px;
    }
  }
}
#nav .pure-menu a:hover,
#nav .pure-menu a:focus {
  background: #f1f1f1;
}
#nav .pure-menu a {
  color: #464646;
  margin-left: 0.5em;
}
#nav .pure-menu-heading {
  border-bottom: none;
  font-size: 0.9em;
  color: rgb(75, 113, 151);
}


/* List Style */
.haroonote-item {
  padding: 0.9em 1em;
  border-left: 5px solid transparent;
  outline: 1px solid #dddddd;
  .haroonote-item-tags {
    font-size: 0.8em;
    font-weight: lighter;
    margin: 0 0 0.5em;
    color: #999;
  }
  .haroonote-subject {
    margin: 0;
  }
  .haroonote-desc {
    font-size: 80%;
    margin: 0.4em 0;
  }
  .haroonote-meta {
    text-align: right;
    font-size: 70%;
    margin: 0;
  }
}

.haroonote-item-selected {
  background: #eee;
}
.haroonote-item-presentation {
  border-left: 5px solid #1b98f8;
}
.haroonote-item-note {
  border-left: 5px solid #28ce6c;
}




/* Content Styles */
.haroonote-content {
  display: none;
}
.haroonote-content-header, .haroonote-content-body, .email-content-footer {
  padding: 1em 1em;
}
.haroonote-content-header {
  border-bottom: 1px solid #ddd;
}

.haroonote-content-title {
  margin: 0.5em 0 0;
}
.haroonote-content-subtitle, .haroonote-content-date, .haroonote-content-tag {
  font-size: 0.8em;
  margin: 0;
  font-weight: normal;
}
.haroonote-content-date {
  margin-bottom: 0.2em;
  i:first-child {
    margin-right: 1em;
  }
}

.haroonote-content-tag a:hover {
  color: #4094fe;
  font-weight: bold;
}
.haroonote-content-tag a {
  padding: 0 1px;
  color: #2e7ecb;
}
.haroonote-content-controls {
  .important {
    display: none;
  }
  .download {
    display: none;
  }
  text-align: right;
}
.haroonote-content-controls .secondary-button {
  margin: 0.2em 0;
}

.secondary-button {
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
  padding: 0.4em 1.4em;
}


/* Public Content */
.public-content-wrapper {
  background: #ebebeb;
}

.public-content {
  margin: 0 1.5em;
  .public-content-body {
    margin: 1em auto;
    max-width: 720px;
  }
}
.public-content-toc {
  background: #fafafa;
  position: static;
  width: 100%;
  border: 1px solid #b1b2bf;
  margin: 1em;
  .close-icon {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
  }
}

.go-premium {
  width: 100%;
  margin: auto;
  p {
    text-align: center;
  }
  .close-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
  }
}

/* Preference */
#preference {
  position: fixed;
  top: 0;
  left: 150px;
  background-color: rgba(0,0,0,0.25);
  width: 100%;
  height: 100%;
  border-left: 1px solid #bdbdbd;
  display: none;
  .panel {
    position: absolute;
    width: 28em;
    max-height: 42em;
    height: 90%;
    top: 32px;
    left: 0;
    overflow: auto;
    background: #FFFFFF;

    border-top: 1px solid #909090;
    border-right: 1px solid #909090;
    border-bottom: 1px solid #909090;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;

  }
  .pure-form-aligned {
    padding: 1em 1.8em 0;
    .label {
      display: inline-block;
      width: 8em;
      background: #008080;
      font-size: 0.8em;
      color: #FFFFFF;
      padding: 4px 6px 4px 3px;
      margin-right: 0.5em;
      text-align: right;
    }
    .blank {
      padding: 0 4px;
    }
    .account-info {
      .quota {
        font-size: 0.8em;
        color: #757575;
        margin-left: 0.5em;
      }
      .unlink {
        a {
          text-align: left;
        }
        font-size: 0.8em;
        margin: 0.5em 0.5em 0.5em 9.4em;
      }
    }
    .pure-controls {
      margin-left: 7.65em;
      margin-bottom: 1.5em;
      button {
        font-size: 0.9em;
        padding: 6px 10px;
      }
    }
  }
  .hero {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .hero-title {
      padding: 0 2em;
      margin: 2em auto;
      max-width: 768px;
    }
  }
  .size-chart {
    width: 100%;
    font-size: 9px;
    line-height: 1.4;
    margin-bottom: 2em;
    .size-chart-note {
      background: #1f8dd6;
    }
    .size-chart-todo {
      background: rgb(128, 88, 165);
    }
    .size-chart-presentation {
      background: #5eb95e;
    }
    .size-chart-mail {
      background: #dd514c;
    }
    .size-chart-tags {
      background: rgb(243, 123, 29);
    }
    .size-chart-trash {
      background: rgb(250, 210, 50);
    }
    .size-chart-item {
      display: block;
      color: #fff;
      padding: 1.45em 0;
      text-align: center;
      text-decoration: none;
      text-transform: capitalize;
      .size-chart-label {
        display: inline-block;
      }
      .size-chart-size {
        color: #eee;
      }
    }
  }
}

@import "dashboard-tablet";
@import "dashboard-desktop";
